.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:50vh;
    background-color:blue;
}
.items{
    background-color:pink;
    border:5px solid rgb(235, 45, 45);
    height: 8vh;
    width: 5vw;
}