.card,.paragraph,.container2{
    background-color: lightblue;
}
.card{
    font-size: 18px;
    font-weight: bold;
    padding-top:10px;
    padding-bottom:10px;
    
    padding-left: 10px;
}

.butt1{
    margin-left:49%;
    padding: 10px;
    cursor: pointer;
}
.DIV3{
    margin-left:51%;
}
.paragraph{
    padding: 20px;
}

