.container{
  height: 55vh;
    width: 97%;
    border: 2px dotted black;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: flex-start; /* Important */
    gap: 5px;
}
.items {
  width: 35px;
    height: 33px;
    border: 2px solid red;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
}
